.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $themeColor-White;

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .card-content {
    position: relative;
    flex: 1 1 auto;
    padding: 0 1.25rem;

    .text {
      font-size: $font-sm;
      line-height: $font-lh-sm;
      font-weight: 400;
    }
  }

  .link {
    padding: 0 1.25rem 1.25rem;
  }
}

.card.wide {
  grid-column: 1 / span 3;
}