.textbox {
  padding: 1rem;
  width: 100%;

  .title {
    margin: 0 0 1rem;
    
    span {
      padding: 0 0 1rem;
      border-bottom: 1px solid $themeColor-Black;
    }
  }
  
  .text {
    padding: 1rem 0;
    margin: 0 0 1rem;
    font-family: $font-alt;
    font-size: $font-lg;

    @media screen and (max-width: 768px){
      font-size: $font-sm;
    }
  }
}

/* Fix for lightdark cards */
.textbox.lightdark > .title > span {
  border-bottom: 1px solid $themeColor-White;
}

.textbox.large {
  grid-row: span 2;
  grid-column: span 2;

  .text {
    font-size: $font-heading;

    @media screen and (max-width: 768px){
      font-size: $font-md;
    }
  }
}

.textbox.wide {
  grid-column: 1 / span 2 !important;
}