.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $themeColor-White;

  .image {
    padding-top: 75%;
    background-repeat: no-repeat;
    background-postion: center;
  }

  h3 .heading {
    font-size: $font-lg;
  }

  .card-content {
    position: relative;
    flex: 1 1 auto;
    padding: 0 1.25rem;
  }

  .link {
    padding: 0 1.25rem 1.25rem;
  }
}