@import 'theme-colors';
@import 'font-size';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  min-height: 100vh;
}

.container {
  padding: 1rem;
  background-color: $themeColor-LightGrey;
}

.icon {
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
  
  img {
    object-fit: contain;
    height: 100%;
  }
}

.heading {
  color: $themeColor-White;
  background-color: $themeColor-Dark;
  padding: 0.5rem 1rem;
}
.heading.yellow {
  color: $themeColor-Black;
  background-color: $themeColor-Yellow;
}
.heading.red {
  color: $themeColor-Black;
  background-color: $themeColor-Red;
}
.heading.blue {
  color: $themeColor-Black;
  background-color: $themeColor-Blue;
}
.heading.green {
  color: $themeColor-Black;
  background-color: $themeColor-Green;
}

@import 'partials/header';
@import 'partials/footer';
@import 'partials/hero';