$breakpoint: 1200px;

@import 'theme-colors';
@import 'theme-font';



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

.content {
  min-height: 100vh;
  padding: 0 10vw;

  @media screen and (max-width: $breakpoint){
    padding: 0 5vw;
  }
}

.link {
  color: $themeColor-Black;
  font-weight: 700;
  
  &::after {
    content: '';
    display: inline;
    background-image: url('/static/icons/black_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-right: 2rem;
  }
}

.icon {
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
}

img {
  object-fit: contain;
  height: 100%;
}

@import 'partials/_partials';
@import 'layout/_layout';