//Greyscale
$themeColor-White: #fff;
$themeColor-LightGrey: #F2F4F3;
$themeColor-LightDark: #363537;
$themeColor-Dark: #131414;
$themeColor-Black: #000;

//Colors
$themeColor-Green: #69D88A;
$themeColor-Yellow: #FFFB56;
$themeColor-Red: #FF6356;
$themeColor-Blue: #57DEF4;