@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:900');

$font-main: 'Open Sans', sans-serif;
$font-alt: 'Source Sans Pro', sans-serif;

$font-sm: 14px;
$font-md: 20px;
$font-lg: 24px;
$font-heading: 32px;
