.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $themeColor-White;

  .card-content {
    position: relative;
    flex: 1 1 auto;
    padding: 0 1.25rem;

    .text {
      font-size: $font-md;
      line-height: $font-lh-md;
      font-weight: 300;
    }
  }

  .link {
    padding: 0 1.25rem 1.25rem;
  }
}