@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro:900');

$font-main: 'Open Sans', sans-serif;
$font-alt: 'Source Sans Pro', sans-serif;

$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;
$font-heading: 32px;
$font-xl: 64px;

$font-lh-sm: 24px;
$font-lh-md: 28px;
$font-lh-lg: 32px;
$font-lh-heading: 38px;
$font-lh-xl: 95px;

.hero-text {
  font-size: $font-xl;
  line-height: $font-lh-xl;
  color: $themeColor-White;
  background-color: $themeColor-Dark;
  padding: 0 3rem 0 1rem;
  text-align: center;
}

.heading {
  font-size: $font-heading;
  line-height: $font-lh-heading;
  color: $themeColor-White;
  background-color: $themeColor-Dark;
  padding: 0 3rem 0 1rem;
  text-align: center;
}

.text-lg {
  font-size: $font-lg;
  color: $themeColor-White;
  background-color: $themeColor-Dark;
  padding: 0.5rem 3rem 0.5rem 1rem;
} 