.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  margin: 4rem 0;
  background-color: $themeColor-LightGrey;

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
  }
}