.masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "A1 A1 ." "B1 . ." "B1 . .";
  grid-gap: 8px;
  min-height: 1000px;

  > *:nth-child(1) {
    grid-area: A1;
  }

  > *:nth-child(3){
    grid-area: B1;
  }
}

@media screen and (max-width: 768px){
  .masonry {
    display: flex;
    flex-direction: column;
    min-height: 0px;

    > * {
      margin-bottom: 8px;
    }
  }
}